.hero {
    height: 100vh;
  background-image: url("Background-Img.png");
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: flex-start;   /* move LEFT */
  align-items: flex-end;         /* move DOWN */
  text-align: left;              /* text aligns left */
  padding: 0 0 400px 100px;
    padding-top: 120px; /* pushes content below the header */
}

.hero-text h1 {
  font-size: 4rem;
  color: white;
  font-family: "Tilt Warp", sans-serif;
}

.hero-text p {
  font-size: 1.5rem;
  color: white;
  font-family: "Tilt Warp", sans-serif;
}
header {
  background-color: #527C5C; /* pick any green */
  padding: 20px 0;
  width: 100%;
  position: fixed; /* makes it stay at top */
  top: 0;
  left: 0;
  z-index: 999;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: "Gabarito", sans-serif;
  font-weight: 500;
  color: #EEE982;
}

.tilt-warp-<uniquifier> {
  font-family: "Tilt Warp", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}
.nostalgia {
  color: #96DDA7;
  font-family: "Tilt Warp", sans-serif;
}

.archive {
  color: #8CEDD1;
  font-family: "Tilt Warp", sans-serif;
}

.hero-text .subtitle {
  color: #EAF4C8;
  font-size: 1.5rem;
  font-family: "Tilt Warp", sans-serif;
}




