.hero {
    height: 100vh;
  background-image: url("Background-Img.png");
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: flex-start;   /* move LEFT */
  align-items: flex-end;         /* move DOWN */
  text-align: left;              /* text aligns left */
  padding: 0 0 400px 100px;
  margin-left: -10px;
    padding-top: -100px; /* pushes content below the header */
}

.hero-text h1 {
  font-size: 4rem;
  color: white;
  font-family: "Tilt Warp", sans-serif;
}

.hero-text p {
  font-size: 1.5rem;
  color: white;
  font-family: "Tilt Warp", sans-serif;
}
header {
  background-color: #527C5C; /* pick any green */
  padding: 20px 0;
  width: 100%;
  position: fixed; /* makes it stay at top */
  top: 0;
  left: 0;
  z-index: 999;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: "Gabarito", sans-serif;
  font-weight: 500;
  color: #EEE982;
}

.tilt-warp-<uniquifier> {
  font-family: "Tilt Warp", sans-serif;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}
.nostalgia {
  color: #96DDA7;
  font-family: "Tilt Warp", sans-serif;
}

.archive {
  color: #8CEDD1;
  font-family: "Tilt Warp", sans-serif;
}

.hero-text .subtitle {
  color: #EAF4C8;
  font-size: 1.5rem;
  font-family: "Tilt Warp", sans-serif;
}

/* ===============================
   Section: What Nostalgia Means
================================= */
.nostalgia-meaning {
  padding: 100px 20px;
  margin-left: -10px;
  background-color: #9A9300; /* background */
  text-align: left;           /* left align text */
}

.nostalgia-meaning .container {
  max-width: 800px;
  margin: 0 auto; /* centers container */
}

.nostalgia-meaning h2 {
  font-family: "Gabarito", sans-serif;
  font-size: 3rem;
   color: #8CEDD1;
  margin-bottom: 20px;
}

.nostalgia-meaning .subtitle {
  font-family: "Gabarito", sans-serif;
  font-size: 1rem;
  color: #8CEDD1;
  margin-bottom: 30px;
  line-height: 1.6;
}

.nostalgia-meaning p:not(.subtitle) {
  font-family: "Gabarito", sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  color: #EAF4C8;
}

.nostalgia-meaning .definition {
  font-family: "Gabarito", sans-serif;
  font-size: 1.2rem;
  color: #8CEDD1;
  margin-bottom: 30px;
  line-height: 1.6;
  text-align: left; /* left align */
}